<?xml version="1.0"?>
<robot name="config" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- constants -->
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <!-- materials -->
  <material name="black">
    <color rgba="${0/255} ${0/255} ${0/255} 1.0"/>
  </material>

  <material name="grey">
    <color rgba="${60/255} ${60/255} ${60/255} 1.0"/>
  </material>

  <material name="orange">
    <color rgba="${255/255} ${140/255} ${0/255} 1.0"/>
  </material>

  <material name="maroon">
    <color rgba="${128/255} ${0/255} ${0/255} 1.0"/>
  </material>

  <material name="silver">
    <color rgba="${192/255} ${192/255} ${192/255} 1.0"/>
  </material>

  <!-- default inertia -->
  <xacro:macro name="default_inertia">
    <inertia
        ixx="0.005" ixy="0.0" ixz="0.0"
        iyy="0.005" iyz="0.0"
        izz="0.005"/>
  </xacro:macro>
</robot>
