<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xtion">

  <xacro:macro name="xtion" params="xyz rpy parent id">

    <!-- import gazebo definitions -->
    <xacro:include filename="$(find cart_robot_description)/urdf/xtion.gazebo" />
    <xacro:xtion_gazebo id="${id}"/>

    <joint name="camera${id}_joint" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="camera${id}_link"/>
    </joint>

    <link name="camera${id}_link">
      <collision>
        <origin xyz="-0.01 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.04 0.18 0.03"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2.0} 0 ${M_PI/2.0}" />
        <geometry>
          <mesh filename="package://cart_robot_description/mesh/asus_xtion_pro_live.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>

  </xacro:macro>

</robot>
