<launch>
  <arg name="camera_angle" default="0.7853981633974483"/> <!-- 45 deg -->
  <arg name="num_cameras" default="3"/>
  <arg name="world_name" default="narrow"/>
  <arg name="gui" default="true"/>
  <!-- include cart_robot.launch -->
  <include file="$(find cart_robot_gazebo)/launch/cart_robot.launch">
    <arg name="camera_angle" value="$(arg camera_angle)"/>
    <arg name="num_cameras" value="$(arg num_cameras)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="extra_arg" value="-J camera1_joint $(arg camera_angle)
                                 -J camera2_joint 0
                                 -J camera3_joint -$(arg camera_angle)
                                 "/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find cart_robot_control)/config/cart_robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
        output="screen" ns="/cart_robot" args="joint_state_controller
                                               joint1_position_controller
                                               camera1_joint_position_controller
                                               camera2_joint_position_controller
                                               camera3_joint_position_controller">
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/cart_robot/joint_states" />
  </node>

</launch>
