<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="db_id" default="1"/>
  <!-- <arg name="use_sim_time" default="true"/> -->
  <!-- <arg name="gui" default="true"/> -->
  <!-- <arg name="headless" default="false"/> -->
  <!-- <arg name="debug" default="false"/> -->

  <!-- <param name="start_time" command="date +'%d-%m-%Y_%Ih%Mm%S'"/> -->

  <!-- ros_control cart_robot launch file -->
  <include file="$(find cart_robot_control)/launch/cart_robot_control.launch"/>

  <!-- tf publisher -->
  <node pkg="tf" type="static_transform_publisher" name="optical_frame_broadcaster" args="1 0 0 -0.5 0.5 -0.5 0.5 camera1_link camera1_optical_frame 100" />

  <!-- include rtabmap.launch -->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rgb_topic" value="/camera1/rgb/image_raw"/>
    <arg name="depth_topic" value="/camera1/depth_registered/image_raw" />
    <arg name="camera_info_topic" value="/camera1/rgb/camera_info" />
    <arg name="frame_id" value="/camera1_link"/>
    <arg name="database_path" value="$(find making_map)/map_db/map$(arg db_id).db"/>
    <!-- <arg name="database_path" value="$(find making_map)/map_db/date +'%d-%m-%Y_%Ih%Mm%S' + .db"/> -->
  </include>

  <!-- Run a python script -->
  <node pkg="cart_robot_control" name="move_loop_closure.py" type="move_loop_closure.py" output="screen"/>

</launch>
